version: 2
jobs:
  unittest:
    working_directory: ~/circleci-demo-python-django
    docker:
      - image: circleci/python:3.6.4
        environment:
          PIPENV_VENV_IN_PROJECT: true
          DATABASE_URL: postgresql://root@localhost/circle_test?sslmode=disable
      - image: circleci/postgres:9.6.2
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - restore_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          command: |
            sudo pip install pipenv
            pipenv install
      - save_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
      - run:
          command: |
            pipenv run "python manage.py test"
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: tr1
  build:
    machine: true
    environment:
      DOCKER_GCR: "asia.gcr.io"
    steps:
      - checkout
      - run: 
          name: Build docker image
          command: |
            docker build -t $DOCKER_GCR/$GOOGLE_PROJECT_ID/circleci-demo-python-django:$CIRCLE_BUILD_NUM .
      - run:
          name: Authenticate to gcloud
          command: |
            echo $BASE64_SERVICE_ACCOUNT | base64 -d > ${HOME}/gcloud-service-key.json
            sudo chmod -R 0777 /opt
            gcloud --quiet components update
            gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
      - run:
          name: Configure Docker to use gcloud as a credential helper
          command: gcloud auth configure-docker
      - run:
          name: push docker image
          command: docker push $DOCKER_GCR/$GOOGLE_PROJECT_ID/circleci-demo-python-django:$CIRCLE_BUILD_NUM
  deploy:
    docker:
      - image: google/cloud-sdk
    environment:
      GOOGLE_PROJECT_ID: "anz-k8s"
      GOOGLE_COMPUTE_ZONE: "australia-southeast1-a"
      GOOGLE_CLUSTER_NAME: "cluster-1"
    steps:
      - run:
          name: Store Service Account
          command: echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json
      - run:
          name: Install helm
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-helm/helm-v2.9.1-linux-amd64.tar.gz
            tar -xvf helm-v2.9.1-linux-amd64.tar.gz 
            mv linux-amd64/helm /usr/local/bin/helm
            helm
            helm list
            cat ${HOME}/gcloud-service-key.json 
workflows:
  version: 2
  unittest-build:
    jobs:
      - unittest
      - build:
          requires:
            - unittest
      - deploy:
          requires:
            - build
